@{
    ViewData["Title"] = "Task Form";
}

@model Mission8_Section4Team13.Models.TaskResponse

<div>
    <form method="post">
        @*Hidding id passed*@
                    @*Will probably need new instance of the object to be created when making new task for example from mission 7:

                    [HttpGet]
                    public IActionResult NewMovieForm()
                    {
                    ViewBag.Categories = _movieContext.Categories.ToList();

                    return View(new Movie());
                    }*@

        <input asp-for="taskId" type="hidden" />

        @*Can make hardcoded list if ViewBag is to complicated*@
        <label asp-for="categoryId">Category:</label>
        <select asp-for="categoryId">
            <option value="">Select a Category</option>
            @foreach (Category m in ViewBag.Categories)
            {
                <option value="@m.categoryId">@m.categoryName</option>
            }
        </select>
        <br />

        <label asp-for="task">Task Description:</label>
        <input asp-for="task" />
        <br />

        <label asp-for="dueDate">Due Date:</label>
        <input asp-for="dueDate" type="datetime-local" />
        <br />

        <label asp-for="quadrant">Quadrant:</label>
        <select asp-for="quadrant">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
        </select>
        <br />

        <label asp-for="completed">Completed:</label>
        <input asp-for="completed" type="checkbox" />
        <br />

        <button type="submit">Submit</button>
        <div asp-validation-summary="All"></div>
    </form>
</div>